<footer>
    <div style="margin: 10px;">
        Parthiv Menon <strong>.</strong> 2020 
    </div>
    <div class='social-links'>
        {{!-- social links --}}
        <a href="https://www.instagram.com/_.parthiv_/" target="_blank"><i style="margin: 5px;" data-feather='instagram'></i></a>
        <a href="https://github.com/Parthiv-M" target="_blank"><i style="margin: 5px;" data-feather='github'></i></a>
        <a href="https://parthivmenon.com" target="_blank"><i style="margin: 5px;" data-feather='globe'></i></a>
    </div>
</footer>